<div class="continer-fluid navigation">
  <div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="assets/logo.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="trending" routerLinkActive='active'>Trending</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/random" routerLinkActive='active'>Search</a>
          </li>        
          <li class="nav-item">
            <a class="nav-link" routerLink="/trending" routerLinkActive='active'>Reactions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/trending" routerLinkActive='active'>Stickers</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" routerLink="/trending" routerLinkActive='active'>Artists</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" routerLink="/trending" routerLinkActive='active'>Apps</a>
          </li> 
          <li class="nav-item solid">
            <a class="nav-link" routerLink="/trending" routerLinkActive='active'>Upload</a>
          </li>
          <li class="nav-item solid">
            <a class="nav-link" routerLink="/trending" routerLinkActive='active'>Create</a>
          </li>
          <div class="profile-icon">
            <i class="fa fa-profile" aria-hidden="true"></i>
          </div>
        </ul>
          <!-- <div class="login">  
            <label for="dog-names"></label>
              <select name="user" id="user">
              <option value="rigatoni">Collins</option>
              <option value="dave">Collections</option>
              <option value="pumpernickel">Settings</option>
              <option value="reeses">Log Out</option>
            </select>          
        </div>         -->
      </div>
    </div>
  </nav>
  </div>
  </div>
