.navigation{
  padding-top: 1%;
}
img{
  height: 35px;
  width: 164px;
}
.nav-item{
  border-bottom:  2px solid purple;
  color: white !important;
  padding-top: 5px;
  padding-bottom: 0%;
  margin-right: 6px;
  margin-bottom: 0px;
}
.nav-item:hover{
  background-color: rgb(65, 103, 173);
}
.solid{
  color: white;
  background-color:  rgb(69, 114, 197);
  width: 100px;
  text-align: center;

}