.navigation{
  background-color: rgb(18,18,18);
  color: rgb(255,255,255);
  font-family: "interface","Helvetica Neue",helvetica, sans-serif;
  font-size:16px;
  height: 1000px;
  letter-spacing: 0px;
  margin: 0px auto;
  min-height: 500px;
  overflow-y: scroll;
  text-align: left;
  width: 100%;
  padding: 0px;
  border: 0px none;
  vertical-align: baseline;
  line-height: unset;
  list-style: none;
}