<div class="container">
  <div class="carousel">
    <strong>
      <h4><i class="fa fa-line-chart" aria-hidden="true"><span>Trending</span></i></h4>
    </strong>
    <div class="flex-container">
      <div class="row" >
        <div class="col-md-2"  id="gifImage" *ngFor="let gif of gifs">
         <a href="{{gif.url}}"><img [src]="gif.images.downsized.url" class="img-fluid gif" alt="Gif image"></a>
        </div>
      </div>
      <button class="btn btn-primary" (click)="viewMore()">{{btnValue}} </button>
    </div>
  </div>
</div>

<!-- <a [routeLink]="['gif',id]"></a> -->
<!-- <div class="container">
  <div class="carousel">
    <strong>
      <h4><i class="fa fa-line-chart" aria-hidden="true"><span>Trending</span></i></h4>
    </strong>
<carousel>
  <div class="carousel-cell" *ngFor="let gif of gifs">
    <img [src]="gif.images.downsized.url" class="img-fluid gif" alt="Gif image">
  </div> 
</carousel>
<button class="btn btn-primary" (click)="viewMore()">{{btnValue}} </button>
  </div>
</div> -->