.carousel{
  padding-top: 50px;
}
span{
  margin: 10px;
}
.col-sm-2{
  height:100px;
  /* width: 90px */
}
.btn-primary{
  background-color: rgb(62,62,62)!important;
  border: 0px;
}
button{
  margin-top: 1%;
}

.carousel-cell{
  width: 200px;
  padding: 0px;
  margin-left: 0px;
}