.form-outline{
  width: 95% !important;
  border-radius: 0% !important; 
  
}
.input-group{
  /* border: 0% !important; */
  /* height: 35px; */
  border-radius: 0% !important; 
}
.btn-dark{
  background-color: rgb(199, 106, 199) ;
}
button, #search{
  height: 50px;
  border-radius: 0% !important; 
}